<!-- <app-header></app-header> -->


<div class="container-sm">
    <h3>Product List</h3>
    <div class="col-xs-4.col-sm-3">

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href = "#" class="dropdown-toggle" role="button">
                Catagories <span class="caret"></span> </a>
              <ul class="dropdown-menu">
                <li> <a href = "#">Fashion</a> </li>
                <li> <a href = "#">Food</a> </li>
              </ul>
            </li>
          </ul>
        
        
        <div  *ngFor = "let product of productlist; let i = index">
        <div class="float-right" *ngIf = "product.quantity >  0">
            <div class="card" style="margin-left: 5px; width: 30%; height: 30%;">
                <div class="col-xs-4.col-sm-3">
            <h4 class="list-group-item-heading">{{product.name}} </h4>
                    <p class="list-group-item-text"> {{product.description}} </p>
                    <p class="list-group-item-text">Rs. {{product.price}} </p>
                    <p class="list-group-item-text"> {{product.imgPath}} </p>
                    </div>
                    <span class="float-none">
                        <img src =" {{product.imgPath}} " alt = " {{product.name}} " 
                         
                        class="img-responsive" style="max-height: 30px;">  
                    </span>
                    <p class="list-group-item-text">In stock {{product.quantity}} </p> 
                    <div class="row">
                        <div class="col">
                         
                          <button class="add-btn" (click) = "increaseProduct(i)">Add</button>
                          <span>{{addQuantity}} </span>
                          <button class="delete-btn" (click) = "decreaseProduct(i)">dec</button>
                    <button class="btn btn-primary"  (click) ="addToCart(product)" >Add to Cart</button> <br>
                    <button class="btn btn-primary"  (click) ="deleteProduct(i)" > Delete</button>
                        </div>
                        
                    </div>
                </div>
                    </div>
                </div>

                
    </div>
</div>

<router-outlet></router-outlet>