<!-- <app-header></app-header> -->


<div class="row">
    <div class="col">
        <a href="/addproduct-component" class= "productList"
        clearfix  *ngFor = "let product of productList">
        <div class="float-right">
            <h4 class="list-group-item-heading">{{product.name}} </h4>
                    <p class="list-group-item-text"> {{product.description}} </p>
                    <p class="list-group-item-text"> {{product.price}} </p>
                    <p class="list-group-item-text"> {{product.imgPath}} </p>
                    </div>
                    <span class="float-none">
                        <img src =" {{product.imgPath}} " alt = " {{product.name}} " 
                         [src] = "product.name"
                        class="img-responsive" style="max-height: 30px;">  
                    </span>
                    <div class="row">
                        <div class="col">
                    <button class="btn btn-primary">Add to Cart</button>
                        </div>
                    </div>
                </a>

                
    </div>
</div>

<router-outlet></router-outlet>